# akkiterm configuration
PORT=/dev/ttys666_yourHardware
BAUDRATE=115200
BYTESIZE=8
PARITY=N
STOPBITS=1.0
HEX_MODE=false
DEC_MODE=false
HEX_COLS=16
ECHO_ENABLED=false
LOG_TO_FILE=false
MACROS_ENABLED=false
FILE_SEND_FILTER=*.*
FILE_SEND_FORMAT=asc
FILE_SEND_ASC_CR=false
LINE_SEND_MODE=false
LINE_SEND_FORMAT=dec
MACRO_1_ASC=Henlo, I am the 1.
MACRO_2_ASC=Don't forget to press the 2.
MACRO_3_ASC=Three, yes; finally.
MACRO_d_DEC=97 98 99 100 101 097 098
MACRO_h_HEX=33 34 35 3a 33 34 35
